body {
    background-color: #26b786;
    .navbar {
        border-radius: 0;
        .logo{
            height: 60px;
            
        }
        .navbar-brand{
padding-top: 8px;
padding-right: 30px;
        }
    }
    //---------------------
    .navbar-nav>li>a,
     {
        padding: 30px 40px 0;
        height: 80px;
        font-size: 18px;
    }
    .navbar {
        min-height:80px !important;
    }
    //----------------------
}